.masonry-gallery {
    list-style: none;
    margin: 0;
    padding: 0;
    column-count: 5;
    column-gap: 0.5em;
}

@media (max-width: 900px) {
    .masonry-gallery { column-count: 4;}
}

@media (max-width: 700px) {
    .masonry-gallery { column-count: 3;}
}


@media (max-width: 500px) {
    .masonry-gallery { column-count: 1;}
}

.gallery-item { 
    position: relative;
    width: 100%;
    opacity: 0;
}

.gallery-item > img {
    max-width: 100%;
}

.gallery-item.show { 
    display: inline-block !important;
    opacity: 1;
}

.gallery-item.show > img { 
    height: auto;
    opacity: 1;
}


.gallery-item.show:hover > img {
    opacity: 0.8;
}