
/**********************************************
*       FOOTER
***********************************************/


footer > article{
    min-width: 25%;
    padding: 0.5em 0.3em;
}

footer h3 {
    margin-bottom: 0.5em;
}

footer .menu-container {
    padding-left: 2em;
}
footer .about {
    text-align: center;
    padding: 1em 0.5em;
}

footer .copy { 
    padding: 1em 0.3em;
    background-color: var(--color-black);
}
footer .copy p {
    text-align: center;
    margin: 0.3em 0;
    font-size: 0.8em;
}

.logo-footer {
    max-width: 90%;
}

@media (max-width: 700px){
    .d-container{
        display: flex;
        flex-direction: column-reverse;
    }
}