
/**********************************************
* Menú de navegación
***********************************************/

.primary-nav {
    display: flex;
    justify-content: space-evenly;
    margin: 0; 
    padding: 0.5em 1em;
    align-items: center; 
}
.nav-logo {
    max-width: 200px;
}
.nav-logo img { 
    width: 300px; 
    object-fit: contain;
}
.main-menu, .vertical-menu { padding: 0; }
.menu-item {
    padding: 0.3em 0.8em;
    list-style: none;
    cursor: pointer;
}

.main-menu{
    display: flex;
}

.menu-item:hover{
    color: red;
    transition: ease .5s;
}

@media (max-width: 700px){
    .primary-nav{
        flex-direction: column;
    }
    .nav-logo img{
        width: 100%;
    }

    .main-menu{
        flex-direction: column;
    }
}