
/******************************************
*       VARIABLES CORES
*******************************************/

:root {
    --color-primary: #888888;
    --color-accent: #888888;
    --color-alternative: #888888;

    --color-light: #AAAAAA;
    --color-dark: #444444;

    --color-white: #FFF;
    --color-black: #000;
}

/******************************************
*       GRID GALLERY
*******************************************/






/******************************************
*       REPRODUCTOR DE VIDEO
*******************************************/

/*              Iconos alternativos: 
    Cando usamos iconos alternativos definimos dúas clases
    - "icon-main" para o principal 
    - "icon-alt" para o hover
*/
.icon-main, .icon-alt { 
    position: absolute;
} /* Usamos posición absoluta para superpoñelos */
.video-control:hover .icon-main, .icon-alt { opacity: 0; }
.icon-main, .video-control:hover .icon-alt { opacity: 1; }