
/**********************************************
*       VIDEO
***********************************************/

.player-container{
    background-color: var(--color-black);
    padding: 5px;
    border-radius: 3px;
}

#video-player {
    width: 100%;
    border-radius: 3px;
}
#video-controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: var(--color-black);
    padding: 0.5em 0;
}
.video-control {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 60px;
    margin: 0 5px;
    padding: 0.3em 0.8em;
    font-size: 32px;
    color: var(--color-accent);
    background-color: var(--color-dark);
    border-radius: 10px;
}
.video-control:hover {
    cursor: pointer;
    color: red;
    transition: ease .5s;
}

.progress-bg {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 7px;
    background-color: var(--color-light);
    overflow: hidden;
    line-height: 0;
    border-radius: 3px;
}

.progress-bar {
    height: 5px;
    background-color: var(--color-primary);
    transition: 0.5s linear width 0s;
}


